.accordionHeader {
  display: flex;
  flex-direction: row;
  height: 55px;
	width: 751px;
	cursor: pointer;
  background-color: #ececec;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: rgba(0,0,0,0) 0 0.214em 1.429em, rgba(0,0,0,.2) 0 0.14em 0.071em;
  align-items: center;
	font-size: 1.213em;
	text-align: left;
	font-weight: normal;
}

 .accordionItemHeading {
	 margin: 0;
	 font-size: 1.2em;
   width: 100%;
}

 .accordionItemHeading a {
	 position: relative;
	 display: block;
	 padding: 24px 36px;
	 color: rgb(0,0,0);
	 text-decoration: none;
	 font-size: 18px;
	 font-weight: bold;
	 text-align: left;
}

 .accordionItemHeading a:before {
	 top: 50%;
}
 .accordionItemHeading a:after {
	 top: 50%;
	 transform: rotate(90deg);
}
 .openAccordion .accordionItemHeading a:after {
	 display: none;
}
 .accordionContentDiv {
	 overflow: hidden;
	 height: 0;
}
 .openAccordion .accordionContentDiv {
   padding: 2.14em 0;
   flex-direction: column;
   box-sizing: border-box;
   font-size: 1.15em;
   width: 100%;
   line-height: 1.5;
   list-style-type: none;
}

.list {
	 margin: 0;
	 padding: 0;
	 list-style: none;
}

.accordionContent {
  list-style-type: none;
	font-size: 18px;
}

.accordionIcon {
	width: 30px;
	height: 30px;
	margin-left: .714em;
	margin-right: .714em;
	border: 0;
}

.accordionDiv {
	margin: 1em;
}

.accordionContainer {
  margin: 0 auto;
	padding-top: .8em;
}

.showAccordions {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-bottom: 4em;
}

.closeAccordion .accordionHeader .accordionIcon {
  background-image: url('./Images/plusIconTeal.svg');
}

.openAccordion .accordionHeader .accordionIcon {
  background-image: url('./Images/minusIconTeal.svg');
}
