.verticalSlider {
    display: flex;
    justify-content: center;
}

.verticalSlider .slideInfo {
  height: 350px;
  width: 400px;
}

.verticalSlider .slideDescription {
  width: 300px;
  top: 0;
  padding-top: 100px;
  padding-left: 50px;
  text-align: center;
}

.verticalSlider .arrow {
  left: 20%
}

.verticalSlider .leftArrow {
  top: 5%;
  transform: rotate(90deg);
}

.verticalSlider .rigtArrow {
   bottom: 5%;
   transform: rotate(90deg);
}

.verticalSlider .slider {
  width: 1248px;
  height: 350px;
}

.verticalSlider .dotsContainer .dot {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 50%;
  border: #fff 0.125em solid;
  margin-bottom: 5px;
}

.verticalSlider .dotsContainer .active {
  background: #fff;
}

.verticalSlider .slideSelectors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 999;
  right: 96%;
  height: 350px;
}

.dotsDiv {
  display: flex;
  flex-direction: row;
  z-index: 999;
  position: absolute;
  right: 5%;
  top: 87%;
}
