.loadMoreBtn {
    height: 62px;
    width: 100%;
    opacity: 0.8;
    background-color: rgb(231, 231, 231);
    color: rgb(18, 75, 127);
    font-weight: bold;
    font-size: 18px;
    line-height: 1.333;
    border: none;
    margin-top: 2em;
}

.cardLayout {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1250px;
    width: 100%;
    flex-wrap: wrap;
}
