.articleNavItem {
    width: 261px;
    height: 61px;
    color: rgb(51, 51, 51);
    font-size: 14px;
    background-color: #f3f3f3;
    border-bottom: rgb(51, 51, 51) 0.5px solid;
}

.articleDescription p {
    margin-bottom: 0;
}
