.slide {
  background-size: 'cover';
  background-repeat: 'no-repeat';
  background-position: '50% 60%';
  position: relative;
}

.slideInfo {
  background-color: rgb(51,51,51);
  opacity: 0.749;
  width: 100%;
  height: 5em;
  position: absolute;
  bottom: 0;
}

.slideDescription {
  color: black;
  margin: 1em;
  font-size: 1em;
}

.slideLikes {
  color: black;
  margin: 1em;
  font-size: 0.8em;
}

.cardContent {
  font-size: 1em;
}

.slideItem {
  height: 850px;
  width: 826px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 5em;
}
