.slider {
  display: flex;
  width: 820px;
  height: 350px;
  overflow: hidden;
  margin-bottom: 2em;
  position: relative;
}

.slideWrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slider img {
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}

.horizontalSlider {
  display: flex;
  justify-content: center;
}

.horizontalSlider .leftArrow {
  transform: rotate(1deg);
  left: 30%;
}

.horizontalSlider .rigtArrow {
   transform: rotate(1deg);
   right: 30%;
}

.horizontalSlider .dotsContainer {
  display: flex;
  flex-direction: row;
}

.horizontalSlider .dotsContainer .dot {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 50%;
  border: #fff 0.125em solid;
  margin-bottom: 5px;
}

.horizontalSlider .dotsContainer .active {
  background: #fff;
}

.horizontalSlider .slideSelectors {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 999;
  margin-bottom: 1em;
}
