.slide {
  width: 100%;
  height: 350px;
  background-size: 'cover';
  background-repeat: 'no-repeat';
  background-position: '50% 60%';
  position: relative;
}

.slideInfo {
  background-color: rgb(51,51,51);
  opacity: 0.749;
  width: 100%;
  height: 5em;
  position: absolute;
  bottom: 0;
}

.slideDescription {
  color: white;
  margin: 1em;
}

.slideDescription {
  font-size: 1em;
  bottom: 0;
  position: absolute;
  margin-bottom: 3em;
}

.slideLikes {
  font-size: 0.8em;
}

.cardContent {
  font-size: 1em;
}

.slide img {
  width: 100%;
  height: 100%;
}
