.rightPanel {
  width: 30%;
}

.slide img {
  width: 100%;
  height: 325px;
}

.leftPanel {
  width: 826px;
}

.interiorDiv {
  background-color: rgb(243, 243, 243);
}

.leftPanel .slideInfo {
  display: none;
}

.interiorInfo {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.interiorInfo h1 {
  font-size: 28px;
  font-weight: bold;
  line-height: 0.857;
  text-align: left;
}

.articlePageLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1250px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
  .rightRailComponent {
    display: none;
  }
}
