.container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
}

h3 {
  background: blue;
  color: #fff;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}
.variable-width .slick-slide p {
  background: blue;
  height: 100px;
  color: #fff;
  margin: 5px;
  line-height: 100px;
  text-align: center;
}
.center .slick-center h3 {
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08);
}
.center h3 {
  opacity: 0.8;
  transition: all 300ms ease;
}
.content {
  padding: 20px;
  margin: auto;
  width: 90%;
}
.slick-slide .image {
  padding: 10px;
}
.slick-slide img {
  display: block;
  margin: auto;
}
.slick-slide img.slick-loading {
  border: 0;
}
.slick-slider {
  margin: 30px auto 50px;
}
.slick-dots {
  margin-left: 0;
}
.slick-thumb {
  bottom: -45px;
}
.slick-thumb li {
  width: 60px;
  height: 45px;
}
.slick-thumb li img {
  filter: grayscale(100%);
}
.slick-thumb li.slick-active img {
  filter: grayscale(0%);
}
@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
  .center {
    margin-left: -40px;
    margin-right: -40px;
  }
  .center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1);
  }
  .center h3 {
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }
}
.slick-vertical .slick-slide {
  height: 180px;
}
.slick-arrow {
  background-color: grey;
  /* color: black; */
}
.slick-arrow:hover {
  background-color: grey;
}

.carouselImg {
  width: 820px;
  height: 350px;
}

.carouselImg img {
  width: 100%;
}

.slick-dots {
  bottom: 0;
  height: 118px;
  display: flex;
  flex-direction: row-reverse;
}

.slick-dots li.slick-active button:before {
  background: rgba(255, 255, 255, 1);
  color: white;
}

.slick-dots li button:before {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 50%;
  border: #fff 2px solid;
  margin-bottom: 5px;
  opacity: 1;
  color: transparent;
}

.slick-dots li {
  padding-right: 1em;
  width: 20px;
  height: 19px;
}

.slick-dots {
  background-color: black;
  opacity: 0.749;
}

.slick-next {
  right: 25px;
}

.slick-prev {
  right: 25px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform ease-in .1s;
  color: white;
  z-index: 999;
  position: absolute;
}

.rightArrow {
  right: 0;
  bottom: 0;
  padding-bottom: 2em;
  right: 5%;
}

.leftArrow {
  bottom: 0;
  padding-bottom: 2em;
  left: 67%;
}

.slideInfo {
  background-color: rgb(51,51,51);
  opacity: 0.749;
  width: 100%;
  height: 5em;
  bottom: 0;
}

.slick-dots li {
  margin-top: 4em;
  left: 32%;
}
