.rightRailComponent {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
}

.rightRailLayout {
    width: 261px;
    display: flex;
    flex-direction: column;
}

.articleLoadMoreBtn {
    color: rgb(18, 75, 127);
    border: none;
    background-color: #f3f3f3;
    font-size: 18px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
