.toggleContent {
  background-color: rgba(139, 141, 141, 0.102);
}

.toggleBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.popularLatestBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffff;
  height: 8em;
  align-items: flex-end;
}

.popularLatestBtns button {
  margin-right: 0.25em;
}

.toggleBtn {
  font-size: 18px;
  background-color: #ffff;
  color: rgb(51, 51, 51);
  border: none;
  border-bottom: rgb(189, 189, 189) 0.222em solid;
}

.active {
  font-size: 22px;
  font-size: bold;
  border: none;
  color: rgb(172, 29, 55);
  background-color: #ffff;
  border-bottom: rgb(172, 29, 55) 0.222em solid;
}
