.css-10nd86i {
  width: 100%;
}

.dropdownSubmit {
  border: none;
  background-color: rgb(172, 29, 55);
  color: #fff;
  width: 134px;
  height: 46px;
}

.dropdownSelect {
  width: 245px;
  height: 46px;
  border-color: rgb(206, 206, 206);
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  margin-right: 1em;
}

.dropdownLayout {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.dropdownPage {
  padding-top: 2em;
  background-color: rgba(139, 141, 141, 0.102);
}

.Card {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 370px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.cardDiv {
    display: flex;
    margin: 0.6em;
}

.cardImg {
    width: 290px;
    height: 160px;
    margin-bottom: 0;
}

.cardLayout {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1250px;
    width: 100%;
    flex-wrap: wrap;
}

.cardDescription {
    font-size: 12px;
    color: rgb(18, 75, 127);
    text-align: left;
    margin-left: 1em;
    margin-right: 1em;
}

.loadMoreBtn {
    height: 62px;
    width: 100%;
    opacity: 0.8;
    background-color: rgb(231, 231, 231);
    color: rgb(18, 75, 127);
    font-weight: bold;
    font-size: 18px;
    line-height: 1.333;
    border: none;
    margin-top: 2em;
}

.main-content {
    margin-bottom: 2em;
}
